<div class="popup" id="main-popup" data-section-id="popup" data-section-type="popup-section">
  <div class="popup-content">
    <h1>{{ settings.popup_title }}</h1>
    <p>{{ settings.popup_description }}</p>

    {% include 'newsletter-form' %}
  </div>
</div>
